<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gymspur</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" style="font-family:'velocista';font-size:large;color:#fff;">GYMSPUR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('auth.routine')}}" style="color:#fff;">Routine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.track')}}" style="color:#fff;">Track</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#fff;">
              Settings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{url_for('auth.account')}}">MyAccount</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search for exercises" aria-label="Search">
          <button class="btn search_button my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
      
      
      
      
      <!----
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand pull-left" style="font-size:large;">GYMSPUR</a>
          <a class="navbar-brand" href="{{ url_for('auth.routine') }}" style="font-size:medium;float;">Routine<img src="{{ url_for('static', filename='images/routine-icon.png') }}" style="width:20px;height:20px;margin-left:10px;"></a>
          <a class="navbar-brand" href="{{ url_for('auth.track') }}" style="font-size:medium;">Track <img src="{{ url_for('static', filename='images/growth.png') }}" style="width:20px;height:20px;margin-left:10px;"></a>
          <a class="navbar-brand pull-right" style="font-size: medium;" href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
      </div>
    </div> -->
    <div class="container">
    <br/>
    <div>
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{auth}} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <div class="message">{{ message }}</div>
        </div>
      {% endfor %}
      </div>
    {% block container %}{% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
